<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" 
         version="3.1">
  <display-name>Logiweb Web Application</display-name>

  <servlet>
  	<description>Trucks managing servlet</description>
  	<display-name>TrucksPage</display-name>
  	<servlet-name>TrucksPage</servlet-name>
  	<servlet-class>com.tsystems.logiweb.ui.TrucksPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>A truck adding servlet</description>
  	<display-name>AddTruckPage</display-name>
  	<servlet-name>AddTruckPage</servlet-name>
  	<servlet-class>com.tsystems.logiweb.ui.AddTruckPageServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>A truck editing servlet</description>
  	<display-name>EditTruckPage</display-name>
  	<servlet-name>EditTruckPage</servlet-name>
  	<servlet-class>com.tsystems.logiweb.ui.EditTruckPageServlet</servlet-class>
  </servlet>
  
  <servlet>
  	<description>A truck deleting servlet</description>
  	<display-name>DeleteTruckServlet</display-name>
  	<servlet-name>DeleteTruckServlet</servlet-name>
  	<servlet-class>com.tsystems.logiweb.ui.DeleteTruckPageServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>TrucksPage</servlet-name>
  	<url-pattern>/trucks</url-pattern>
  	<url-pattern>/trucks/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTruckPage</servlet-name>
  	<url-pattern>/trucks/add</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditTruckPage</servlet-name>
  	<url-pattern>/trucks/edit/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DeleteTruckServlet</servlet-name>
  	<url-pattern>/trucks/delete/*</url-pattern>
  </servlet-mapping>
</web-app>
